
// Museo Slab
@font-face
	font-family MuseoSlab
	src url(/fonts/Museo_Slab_500.otf)
	font-weight normal
	font-style normal
	
@font-face
	font-family MuseoSlab
	src url(/fonts/Museo_Slab_500italic.otf)
	font-weight normal
	font-style italic
	
// Museo Sans
@font-face
	font-family MuseoSans
	src url(/fonts/MuseoSans_500.otf)
	font-weight normal
	font-style normal
	
@font-face
	font-family MuseoSans
	src url(/fonts/MuseoSans_500_Italic.otf)
	font-weight normal
	font-style italic